html,
body {
  margin: 0;
  padding: 0;
}

body {
  font: 1.1rem "Lucida Grande", Helvetica, Arial, sans-serif;
  line-height: 1.5rem;
  letter-spacing: 0.01rem;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0 0 1.5rem;
  font-weight: 400;
  letter-spacing: .05rem;
}

h1 {
  font-size: 2.5rem;
  line-height: 2.7rem;
}

h2 {
  font-size: 1.6rem;
  line-height: 1.9rem;
}

a {
  color: #0383b2;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

p {
  margin: 0 0 1rem;
}

li {
  font-size: 1.1rem;
}

code {
  display: inline-block;
  background: #f7f7f7;
  padding: .2rem .4rem;
}

blockquote {
  color: #969a9b;
  border-left: 6px solid #b4d235;
  padding: 1rem;
  margin: 0;
}

section {
  margin-bottom: 2rem;
}

.quote-citation {
  text-align: right;
  display: block;
  margin-bottom: 1rem;
  font-size: 1rem;
}

.image-link {
  text-decoration: none;
}

.image-link img {
  border: 0;
  transition: opacity 200ms;
}

.image-link:hover img {
  opacity: 0.7;
}

.image-with-text {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.image-with-text__image-container {
  display: flex;
  align-items: center;
}

.image-with-text > p,
.image-with-text > div {
  flex-basis: 100%;
  order: 1;
}

.image-with-text img {
  max-width: 100%;
  height: auto;
}

#content {
  margin: auto;
  padding: 1rem 0.5rem;
  max-width: 50rem;
}

#hero {
  min-height: 300px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  position: relative;
  z-index: 2;
  padding: 1rem;
  overflow: hidden;
}

#hero h1 {
  color: #ffffff;
  margin-bottom: 0;
  width: 100%;
  font-size: 2.6rem;
  line-height: 2.5rem;
  letter-spacing: .05rem;
  font-weight: 300;
  display: block;
}

#hero img#hero__image {
  position: absolute;
  min-width: 100%;
  max-height: 100%;
  z-index: -1;
}

#hero #logo {
  z-index: 1;
  width: 40px;
  height: 40px;
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;
}

@media (min-width: 40rem) {
  body {
    line-height: 1.7rem;
  }

  .image-with-text.image-with-text--image-first > p.image-with-text__image-container,
  .image-with-text.image-with-text--image-first > div.image-with-text__image-container {
    order: 0;
  }

  h2 {
    font-size: 2.2rem;
    line-height: 2.3rem;
  }

  .image-with-text > p,
  .image-with-text > div {
    flex-basis: 49%;
  }

  #hero img#hero__image {
    width: 100%;
    max-height: none;
  }

  #hero h1 {
    font-size: 4.4rem;
    line-height: 3.8rem;
  }

  #content {
    margin: auto;
    padding: 2rem 1rem;
  }
}
